<html lang="en">
  <head></head>
  <body>
    <h1>You got a message from {{who}}, ({{from}})</h1>
    <div>
      <p>
        {{subject}}
      </p>
      <p>
        {{message}}
      </p>
    </div>
  </body>
</html>
